######################################################################
# User-Specific Files
######################################################################
*.suo
*.user
*.userosscache
*.sln.docstates
######################################################################
# Python Tools for Visual Studio (PTVS)
######################################################################
__pycache__/
*.pyc
######################################################################
# Visual Studio Cache Files
######################################################################
.vs/
*.db
######################################################################